@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap");
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  line-height: 1.5;
}
:root {
  --main-color: hsl(0, 0%, 100%);
  --second-color: hsl(216, 83%, 98%);
  --title-color: hsl(0, 0%, 0%);
  --pr-color: hsla(0, 0%, 8%, 0.64);
  --box-shadow: 0 12px 16px 0 hsla(219, 64%, 96%, 0.71);
  --blue: hsl(248, 73%, 60%);
  --transition: all 0.3s ease 0s;
}
.container {
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
body {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
img {
  height: 10px;
  width: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: var(--second-color);
}
nav ul li a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
nav ul li a:hover {
  color: var(--blue);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.ul-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
.logo img {
  height: 32px;
  width: 132px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}
section {
  padding: 5vh 0;
}
.ul-nav ul li a {
  color: var(--title-color);
  font-weight: 400;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
#sec1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
#sec1 {
  height: calc(70vh - 77px);
  background-color: var(--second-color);
}
#notification {
  position: fixed;
  height: 15vh;
  left: 20px;
  bottom: 27px;
  display: flex;
  z-index: 9999;
  justify-content: start;
  align-items: center;
  width: 400px;
  transition: all 2s ease 0s;
  -webkit-transition: all 2s ease 0s;
  -moz-transition: all 2s ease 0s;
  -ms-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
}
#notification .img {
  width: 20%;
  position: relative;
}
#notification .txt span {
  color: #8750ff;
}
#notification .img {
  background-color: #8750ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}
#notification .txt {
  width: calc(100% - 20%);
  max-width: 408px;
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%);
  color: #686868;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}
#notification .img .lamp {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
#close-notif {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: -10px;
  left: 0px;
  background-color: #8e8bd2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
#close-notif:hover {
  background-color: #7b76cf;
}
section h1 {
  color: var(--title-color);
  font-size: 60px;
  line-height: 66px;
  vertical-align: baseline;
  letter-spacing: -1.1px;
  word-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-text-decoration: none solid rgb(0, 0, 0);
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  text-indent: 0px;
  opacity: 90%;
}
section p {
  color: #141414;
  color: rgba(20, 20, 20, 0.64);
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  line-height: 39px;
  vertical-align: baseline;
  letter-spacing: -0.4px;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-text-decoration: none solid rgba(20, 20, 20, 0.64);
  text-decoration: none solid rgba(20, 20, 20, 0.64);
  text-align: center;
  text-indent: 0px;
}
#sec2 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sec2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.input-sec1 input:nth-child(1) {
  height: 66px;
  width: 250px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  outline: none;
  padding: 0 20px;
}
.input-sec1 input:nth-child(2) {
  width: 150px;
  outline: none;
  height: 66px;
  background-color: var(--blue);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.input-sec1 input:nth-child(2):hover {
  background-color: hsl(248, 57%, 50%);
}
.input-sec1 {
  background-color: var(--main-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: var(--box-shadow);
  margin: 40px 0;
  border: 2px solid hsla(248, 73%, 60%, 0.195);
}
.socail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 250px;
  flex-wrap: wrap;
}
.socail img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}
.socail div {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  width: 56px;
  height: 56px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#sec3 {
  background-color: #fafcff;
}
#sec4 {
  height: max-content !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefeff;
}
#sec4 img {
  height: 100%;
  width: 80%;
  -o-object-fit: contain;
  object-fit: contain;
  filter: drop-shadow(0 12px 16px 0 hsla(219, 64%, 96%, 0.71));
  -webkit-filter: drop-shadow(0 12px 16px 0 hsla(219, 64%, 96%, 0.71));
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 20vh;
}
.prod {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  flex-direction: row;
}
.prod img {
  height: 80px;
  width: 80px;
  -o-object-fit: contain;
  object-fit: contain;
}
.prod-txt {
  text-align: left;
}
.f-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 30px 0;
}
.f-sec img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 384px;
  -o-object-fit: contain;
  object-fit: contain;
}
.f-sec h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
.f-sec p {
  font-size: 1rem;
  margin-top: 8px;
  font-family: Roboto, sans-serif;
  color: rgba(51, 44, 41, 0.64);
  font-size: 1.125rem;
  line-height: 1.78;
  width: 70%;
}
.allsections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#sec5,
#sec6,
#sec7,
#sec8 {
  background-color: var(--main-color);
}
#sec7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec7-sec {
  display: flex;
  margin-left: 32px;
  padding: 88px 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-radius: 32px;
  background-color: #f4f8fe;
}
.sec7-sec h1 {
  font-size: 2rem;
}
.sec7-sec img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
.sec7-sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 10vh;
  flex-wrap: wrap;
}
#sec8 {
  background-color: var(--second-color);
}


footer {
  background-color: var(--main-color);
  padding: 0vh 0 5vh 0;
  display: flex;
}
footer .container {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.foot {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  text-align: start;
  width: 100%;
}
.foot h1 {
  font-size: 1.5rem !important;
}
.copyright {
  font-size: 1rem !important;
  line-height: 1.2;
  text-align: start;
  width: 90% !important;
}
.logo-footer {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}
.contact-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.contact-icon img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.contact-icon img:hover {
  transform: calc(1.5);
  -webkit-transform: calc(1.5);
  -moz-transform: calc(1.5);
  -ms-transform: calc(1.5);
  -o-transform: calc(1.5);
}
.sec8-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4rem;
  background-color: #fff;
}
#foot-cop {
  gap: 30px;
}
#sec8 {
  padding: 0 !important;
}
.foot a {
  color: var(--pr-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.foot a:hover {
  color: var(--blue);
}
footer img {
  cursor: pointer;
}
#hand-footer {
  position: absolute;
  height: auto;
  width: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  bottom: 0px;
  right: 0px;
  opacity: 70%;
  display: block;
}
@media (max-width: 929px) {
  #hand-footer {
    display: none;
  }
}
.sec7-sec-img {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container {
  position: relative;
}
.mobile-nav {
  height: 180px;
  width: 250px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  z-index: 999;
  position: fixed;
  top: 47px;
  right: 20px;
  display: none;
}
.mobile-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.mobile-nav ul li {
  padding: 20px 0;
}
#mobile-nav-icon {
  position: absolute;
  top: 5px;
  right: 21px;
  font-size: 20px;
  display: none;
  color: var(--title-color);
}
.mobile-nav ul li a {
  color: var(--title-color);
}
footer {
  position: relative;
}
#scrolltop {
  height: 50px;
  width: 50px;
  background-color: #8750ff;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 9999;
  position: fixed;
  right: 20px;
  bottom: 27px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--main-color);
  font-weight: bold;
  font-size: 100%;
}
#scrolltop:hover {
  background-color: #8e8bd2;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 1rem;
  }
   p {
    font-size: 1rem !important;
  }


}
@media (max-width: 1200px) {
  #sec4 {
    height: 65vh;
  }
  section {
    padding: 1vh 0;
  }
  .sec7-sections {
    margin-top: 3vh;
    flex-direction: column;
  }
  .sec7-sec {
    margin-left: 0;
    width: 100%;
    margin: 25px 0;
  }
}
@media (max-width: 770px) {
  nav .container {
    width: 100%;
  }
  section h1 {
    font-size: 30px;
  }
  section p {
    font-size: 14px;
  }
  .product {
    height: 50vh;
  }
  #sec2 {
    height: 24vh;
  }
  #sec4 img {
    height: 100%;
    width: 90%;
  }
  #sec4 {
    height: 35vh;
  }
  .f-sec {
    width: unset;
  }
  .f-sec img {
    width: 30vw;
  }
  #sec8 p {
    width: 80%;
    font-size: unset;
  }
  .foot a {
    font-size: 1vw;
  }
  footer .container {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }

  #main{
        width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
  }
}
@media (max-width: 484px) {
  section h1 {
    font-size: 6vw;
  }
  section p {
    font-size: 2vw;
  }
  .input-sec1 input:nth-child(1) {
    width: 37vw;
  }
  .ul-nav ul {
    display: none;
  }
  #mobile-nav-icon {
    display: flex;
  }

  .foot a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 292px) {
  .input-sec1 {
    display: none;
  }
}

#main {
  max-width: 1200px !important;
}

p {
  opacity: 95% !important;
}

::selection {
  background-color: #c1b0f3;
  color: #000;
}

.socail div , .prod-txt , .learn-more{
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  cursor: pointer;
}

.socail div:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.learn-more:hover{
margin-left: 1rem;
font-weight: bold;
color: #8750ff;
}

.learn-more{
  color: #141414;
  padding: 1rem;
}

.sec7-sec{
  transition: all 0.3s ease 0s !important;
  -webkit-transition: all 0.3s ease 0s !important;
  -moz-transition: all 0.3s ease 0s !important;
  -ms-transition: all 0.3s ease 0s !important;
  -o-transition: all 0.3s ease 0s !important;
  cursor: text;
}

.sec7-sec:hover{
  box-shadow: rgba(0, 0, 0, 0.307) 0px 25px 20px -20px;

}